<nav class="fixed top-0 left-0 w-full bg-gray-900 text-gray-300 p-4">
  <div class="max-w-19/20 mx-auto flex items-center justify-between">
    <div class="mogra-regular text-3xl"><a routerLink="/home">Cole Roggeveen</a></div>

    <ul class="flex space-x-4">
      <li><a routerLink="/home" routerLinkActive="text-blue-400">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="text-blue-400">About</a></li>
      <li><a routerLink="/projects" routerLinkActive="text-blue-400">Projects</a></li>
      <li><a routerLink="/contact" routerLinkActive="text-blue-400">Contact</a></li>
    </ul>
  </div>
</nav>


