    <section class="bg-gray-850 text-gray-300">
    <div class="text-center pt-20">
    <h2 class="text-3xl font-bold text-white">About Me</h2>
    </div>
<div class="flex items-center justify-center">
<div class="flex flex-col text-center max-w-2/10 items-center justify-start pb-20">
    <img 
    src="assets/images/my-photo2.jpg" 
    alt="My Photo" 
    class="rounded-full w-60 h-60 shadow-lg mb-6 object-cover aspect-3/2 border-gray-700 border-1 border-solid"
  />
    <h2 class="text-lg font-bold">Technical Skills</h2>
    <ul class="list-none">
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Java</li>
        <li>C++</li>
        <li>HTML/CSS</li>
        <li>Node.js</li>
        <li>Python</li>
    </ul>
    <h2 class="mt-4 text-lg font-bold">Personal Interests</h2>
    <ul class="list-none">
        <li>Technology</li>
        <li>Travel</li>
        <li>Snowboard</li>
        <li>Board Games</li>
        <li>Video Games</li>
        <li>Events with Friends</li>
    </ul>
</div>

<div class="flex flex-col w-4/5 items-center self-start pt-6">
    <div class="w-9/10 border-solid border-b-1 border-gray-500">
        <h1 class="mt-4 ml-2 text-2xl font-bold pb-2">Background</h1>
    </div>
    <div class="w-9/10 pt-2">
    <p class="ml-2">
Motivated and detail-oriented IT professional with a strong foundation in systems administration, software development, and client support. Experienced working with both Windows and Linux environments, and comfortable with a variety of programming languages. Known for clear communication, problem-solving, and a strong commitment to continuous learning.
    </p>
    </div>
    <div class="w-9/10 border-solid border-b-1 border-gray-500">
        <h2 class="mt-4 ml-2 text-2xl font-bold pb-2">Experience</h2>
    </div>
    <div class="w-9/10 border-solid border-b-1 border-gray-500">
        <h2 class="mt-4 ml-2 text-2xl font-bold pb-2">Education</h2>
    </div>
</div>
</div>
</section>