<section class="flex flex-col items-center justify-center bg-gray-900 p-6 text-center text-gray-300">
    <img src="assets/images/my-photo.jpg" alt="My Photo"
        class="rounded-full w-72 h-72 shadow-lg mb-6 object-cover aspect-3/2" />

    <h1 class="text-4xl font-bold mb-2 text-white">Hi, I’m Cole!</h1>
    <p class="text-lg max-w-xl">
        I’m a frontend developer passionate about building clean, functional, and beautiful web apps using Angular,
        React, and more.
    </p>
    <div>
        <button class="mt-4 bg-gray-800 text-white px-6 py-2 rounded-lg hover:bg-gray-700 transition duration-300"><a
                routerLink="/about">About Me</a></button>
    </div>
</section>